version: '3.8'

services:

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper

    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

    ports:
      - "9092:9092"

    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 10s
      timeout: 5s
      retries: 10

  auth-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: smart_auth
    healthcheck:
      test: ["CMD-SHELL", "mysql -uroot -prootpassword -e 'SELECT 1'"]
      interval: 5s
      retries: 10

  auth-service:
    build: ./auth-service
    ports:
      - "5000:5000"
    depends_on:
      auth-db:
        condition: service_healthy

  issue-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: smart_issues
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 10

  issue-service:
    build: ./issue-service
    ports:
      - "4000:4000"
    depends_on:
      issue-db:
        condition: service_healthy
      kafka:
        condition: service_healthy
      auth-service:
        condition: service_started

  notification-service:
    build: ./notification-service
    depends_on:
      kafka:
        condition: service_healthy
